<header>
  <div class="container">
    <app-nav />
    <div class="info">
      <div class="switcher">
        <span>Dark mode</span>
        <p-toggleswitch
          [(ngModel)]="isDarkMode"
          (ngModelChange)="toggleDarkMode()"
        />
      </div>
      <span>{{ authService.currentUser()?.username }}</span>
    </div>
  </div>
</header>
<main>
  <div
    class="loading-container"
    *ngIf="authService.currentUser() === undefined; else pageContent"
  >
    <div class="loading-speeding-wheel"></div>
  </div>
  <ng-template #pageContent>
    <router-outlet />
  </ng-template>
</main>
