.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
}

.post {
  min-width: 200px;
  width: calc(25% - 12px);
}

.post__link {
  color: #4287f5;
  text-decoration: none;
}

.post__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.load-more {
  background: #4287f5;
  border: none;
  color: #fff;
  padding: 8px 16px;
  min-width: 250px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.users-select {
  padding: 8px 16px;
}
