.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
}

.post {
  min-width: 200px;
  width: calc(25% - 12px);
}

.post__link {
  color: var(--primary-500);
  text-decoration: none;
}

.my-app-dark .post__link {
  /*TODO: fix to work*/
  color: var(--primary-400);
}

.post__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
