<div class="container">
  <h1>Posts</h1>

  <div *ngIf="errorMessage() !== null; else resultsContent">
    <p>{{ errorMessage() }}</p>
  </div>

  <ng-template #resultsContent>
    <div *ngIf="posts().length > 0">
      <ul class="posts">
        <li *ngFor="let post of posts()" class="post">
          <a [routerLink]="post.id.toString()" class="post__link">{{
            post.title
          }}</a>
          <p>{{ post.body }}</p>
        </li>
      </ul>
      <div *ngIf="posts().length !== totalCount()">
        <button (click)="loadMore()" class="load-more">Load More</button>
      </div>
    </div>
    <p *ngIf="posts().length === 0 && !loading()">No posts available.</p>
    <div *ngIf="loading()">
      <p>Loading posts...</p>
    </div>
  </ng-template>
</div>
