<div class="container">
  <div class="posts-header">
    <h1>Posts</h1>

    <div *ngIf="usersAreLoading(); else usersResultContent">
      <p>Loading users...</p>
    </div>

    <ng-template #usersResultContent>
      <div *ngIf="usersErrorMessage(); else usersContent">
        <p>{{ usersErrorMessage() }}</p>
      </div>
    </ng-template>

    <ng-template #usersContent>
      <p-select
        [(ngModel)]="selectedUserId"
        (ngModelChange)="filterPosts()"
        *ngIf="users().length > 0"
        [options]="userOptions()"
      />
    </ng-template>
  </div>

  <div *ngIf="postsErrorMessage() !== null; else resultsContent">
    <p>{{ postsErrorMessage() }}</p>
  </div>

  <ng-template #resultsContent>
    <div *ngIf="posts().length > 0">
      <ul class="posts">
        <li *ngFor="let post of posts()" class="post">
          <a [routerLink]="post.id.toString()" class="post__link">{{
            post.title
          }}</a>
          <p>{{ post.body }}</p>
        </li>
      </ul>
      <div *ngIf="posts().length !== postsTotalCount()">
        <p-button label="Load More" type="button" (click)="loadMorePosts()" />
      </div>
    </div>
    <p *ngIf="posts().length === 0 && !postsAreLoading()">
      No posts available.
    </p>
    <div *ngIf="postsAreLoading()">
      <p>Loading posts...</p>
    </div>
  </ng-template>
</div>
