<div class="container">
  <nav>
    <ul class="main-menu">
      <li>
        <a
          routerLink=""
          routerLinkActive="main-menu__link_active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="main-menu__link"
          >Home</a
        >
      </li>
      <li>
        <a
          *ngIf="canAccessPosts"
          routerLink="posts"
          routerLinkActive="main-menu__link_active"
          class="main-menu__link"
          >Posts</a
        >
      </li>
      <li>
        <a
          *ngIf="canAccessLogin"
          routerLink="login"
          routerLinkActive="main-menu__link_active"
          class="main-menu__link"
          >Login</a
        >
      </li>
    </ul>
  </nav>
</div>
