<nav>
  <ul class="main-menu">
    <li>
      <a
        routerLink=""
        routerLinkActive="main-menu__link_active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="main-menu__link"
        >Home</a
      >
    </li>
    <li>
      <a
        *ngIf="canAccessPosts"
        routerLink="posts"
        routerLinkActive="main-menu__link_active"
        class="main-menu__link"
        >Posts</a
      >
    </li>
    <li *ngIf="authService.currentUser()?.email">
      <span class="main-menu__link" (click)="logout()">Logout</span>
    </li>
    <li *ngIf="authService.currentUser() === null">
      <a
        routerLink="sign-in"
        routerLinkActive="main-menu__link_active"
        class="main-menu__link"
        >Login</a
      >
    </li>
    <li *ngIf="authService.currentUser() === null">
      <a
        routerLink="sign-up"
        routerLinkActive="main-menu__link_active"
        class="main-menu__link"
        >Register</a
      >
    </li>
  </ul>
</nav>
