<nav>
  <ul class="main-menu">
    <li>
      <a
        [routerLink]="Routes.HOME"
        routerLinkActive="main-menu__link_active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="main-menu__link"
        >Home</a
      >
    </li>
    <li>
      <a
        *ngIf="canAccessPosts"
        [routerLink]="Routes.POSTS"
        routerLinkActive="main-menu__link_active"
        class="main-menu__link"
        >Posts</a
      >
    </li>
    <li *ngIf="authService.currentUser()">
      <span class="main-menu__link" (click)="logout()">Logout</span>
    </li>
    <li *ngIf="authService.currentUser() === null">
      <a
        [routerLink]="Routes.SIGN_IN"
        routerLinkActive="main-menu__link_active"
        class="main-menu__link"
        >Login</a
      >
    </li>
    <li *ngIf="authService.currentUser() === null">
      <a
        [routerLink]="Routes.SIGN_UP"
        routerLinkActive="main-menu__link_active"
        class="main-menu__link"
        >Register</a
      >
    </li>
  </ul>
</nav>
