* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 16px;
}

header {
  background: var(--primary-500);
  color: #fff;
  padding: 16px 0;
}

.my-app-dark header {
  background: var(--primary-400);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

h1,
h2 {
  color: var(--primary-500);
  text-align: center;
}

.my-app-dark h1,
.my-app-dark h2 {
  color: var(--primary-400);
}

img {
  width: 100%;
  height: auto;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button.p-button {
  border: none;
  padding: 12px 16px;
  min-width: 500px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button.p-button:not(:disabled):hover {
  border: none;
}

select {
  padding: 8px;
}

.error {
  color: #ff0000;
  text-align: center;
}

.note {
  margin-top: 0;
}
