<div class="container">
  <h1>Home page</h1>
  <img ngSrc="homepage.jpg" width="916" height="264" priority alt="" />

  <div *ngIf="authService.currentUser()?.role === UserRoles.ADMIN">
    <h2>Update user role</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input placeholder="Uuid" formControlName="uuid" pInputText />
      <p-select
        formControlName="role"
        [options]="[
          { value: UserRoles.ADMIN, label: 'Admin' },
          { value: UserRoles.USER, label: 'User' }
        ]"
        placeholder="Select role"
      />
      <p-button label="Update" type="submit" />
    </form>
    <div *ngIf="errorMessage()">
      <p class="error">{{ errorMessage() }}</p>
    </div>
  </div>
</div>
