<div class="container">
  <h1>Register</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      type="text"
      placeholder="Username"
      formControlName="username"
      required
      pInputText
    />
    <input
      type="email"
      placeholder="Email"
      formControlName="email"
      required
      pInputText
    />
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
      required
      minlength="6"
      pInputText
    />
    <p class="note">* Min 6 symbols</p>
    <p-button label="Sign Up" type="submit" />
  </form>
  <div *ngIf="errorMessage()">
    <p class="error">{{ errorMessage() }}</p>
  </div>
</div>
